*{
	margin:0px;
	padding: 0px;
}
body {
	background-image: url(../workswall.jpg);
}

#container{
	background-color: white;
	width: 999px;
	min-height: 730px;
	font-family: Arial,Helvetica,sans-serif;
	display: inline-block;
}

#nav_login{
	/* background-color:lightgrey; */
	width: 999px;
	min-height: 35px;
}
.links{
	color:grey;
	display: inline-block;
	height: 24px;
	font-size: 10px;
	word-spacing: 4px;
	text-align: right;
	padding-right: 43px;
	background-color: #F8F8F8;
	margin-left: 526px;
	clear:right;
	border: 1px solid #DFDFDF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.leftline{
	display: inline-block;
	padding-left: 15px;
}
.line{
	border-left: 1px solid rgb(204, 200, 200);
	padding: 0px 0px 0px 7px;
	display: inline-block;

	margin: 4px 0px 0px 0px;
}
.login{
	display: inline-block;
	background-image:url("logbutton.jpg");
	margin: 0px 0px 0px 21px;
	padding: 0px 0px 3px 0px;
	height: 23px;
	width: 58px;
	border: 2px;
	border-radius: 7px;
	color:white;
	clear:right;
	font-size: 11px;
	vertical-align: top;
}
#banner{
	width: 999px;
	min-height: 68px;
}
#wslogo{
	display:block;
	padding: 7px 0px 0px 9px;
}
#bar{
	width: 999px;
	min-height: 56px;
	background-image:url("barimg.jpg");
}

h1{
	color: white;
	padding: 12px 12px 12px 12px;
	font-size: 24px;
	font-weight:500;
}

#ads{
	display: inline-block;
	width: 235px;
	min-height: 579px;
	vertical-align: top;
}
h2{
	color: #0075B7;
	padding: 65px 0px 11px 11px;
	font-size: 18px;
	font-weight: normal;
}
h3{
	color: #D82E12;
	padding: 2px 0px 0px 11px;
	font-size: 12px;
	font-weight: bold;
}

h4{
	font-size: 15px; 
	font-weight: bold;
	color: #0070B6;
}

span{
	font-weight: bold;
}

ul{

	font-size: 15px;
}

p{
	font-size: 10px;
	font-weight: bold;
}

a{

	color: #3D6698;
}

.small{
	padding: 2px 0px 0px 9px;
	margin: 1px 0px 0px 3px;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}
.small2{
	padding: 5px 0px 0px 45px;
	margin: 1px 0px 8px 3px;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

hr{
	margin: 10px 6px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-color: #DDDDDD;
}
.wslink{
	text-decoration: none;
}
#adword{
	width: 200px;
	height: 251px;
	margin: 20px 0px 0px 11px;
}
.blue{
	display: block;
	height: 32px;
	width: 217px;
	padding: 0px 0px 1px 0px;
	margin: 24px 0px 0px 11px;
	background-image:url("blue.jpg");
	border: none;
	border-radius: 6px;
	color:white;
	font-size: 15px;
	font-weight: bold;
}
.orange{
	display: block;
	height: 31px;
	width: 217px;
	padding: 0px 0px 0px 2px;
	margin: 4px 0px 0px 11px;
	background-image:url("orange.jpg");
	border: none;
	border-radius: 6px;
	color:white;
	font-size: 15px;
	font-weight: bold;
}
#content{
	display: inline-block;
	width: 760px;
	min-height: 579px;
}
span{
	font-weight: bold;
}
.ppc{
	list-style-type: square;
}

#space{
	display:inline-block;
	width:;
	height:;
}
#house{
	display: inline-block;
	padding: 21px 0px 0px 0px;
	height:;
	width:;
	margin: 0px 343px 0px 23px;
	vertical-align: top;
}
h5{
	display:inline-block;
	vertical-align: top;
	color: #0070B7;
	font-weight: 100;
}
#intl{
	display: inline-block;
	vertical-align: top;
	padding-left: 9px;
	height:;
	width: 149px;
	margin:;
}
#phone{
	margin-top: 13px;
	padding-left: 85px;
}
.wrap{
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
}
h6{
	display: inline-block;
	font-size: 24px;
	padding-top: 3px;
}
.wrap2{
	display: inline-block;
	vertical-align: top;
	width: 148px;
}

*{
	margin:0px;
	padding: 0px;
}

#shot{
	opacity: .5;
	position: absolute;
}
#container{
	/* background-color: lightblue; */
	width: 999px;
	min-height: 730px;
	font-family: Arial,Helvetica,sans-serif;
}

#nav_login{
	/* background-color:lightgrey; */
	width: 999px;
	min-height: 35px;
}
.links{
	color:grey;
	display: inline-block;
	height: 24px;
	font-size: 10px;
	word-spacing: 4px;
	text-align: right;
	padding-right: 43px;
	background-color: #F8F8F8;
	margin-left: 526px;
	clear:right;
	border: 1px solid #DFDFDF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.leftline{
	display: inline-block;
	padding-left: 15px;
}
.line{
	border-left: 1px solid rgb(204, 200, 200);
	padding: 0px 0px 0px 7px;
	display: inline-block;

	margin: 4px 0px 0px 0px;
}
.login{
	display: inline-block;
	background-image:url("logbutton.jpg");
	margin: 0px 0px 0px 21px;
	padding: 0px 0px 3px 0px;
	height: 23px;
	width: 58px;
	border: 2px;
	border-radius: 7px;
	color:white;
	clear:right;
	font-size: 11px;
	vertical-align: top;
}
#banner{
	width: 999px;
	min-height: 68px;
}
#wslogo{
	display:block;
	padding: 7px 0px 0px 9px;
}
#bar{
	width: 999px;
	min-height: 56px;
	background-image:url("barimg.jpg");
}

h1{
	color: white;
	padding: 12px 12px 12px 12px;
	font-size: 24px;
	font-weight:500;
}

#ads{
	display: inline-block;
	width: 235px;
	min-height: 579px;
	vertical-align: top;
}
h2{
	color: #0075B7;
	padding: 65px 0px 11px 11px;
	font-size: 18px;
	font-weight: normal;
}
h3{
	color: #D82E12;
	padding: 2px 0px 0px 11px;
	font-size: 12px;
	font-weight: bold;
}

h4{
	font-size: 19px; 
	font-weight: bold;
	color: #0070B6;
	margin: 20px 0px 15px 41px;
}

span{
	font-weight: bold;
}

ul{

	font-size: 15px;
}

p{
	font-size: 10px;
	font-weight: bold;
}

a{

	color: #3D6698;
}

.small{
	padding: 2px 0px 0px 9px;
	margin: 1px 0px 0px 3px;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}
.small2{
	padding: 5px 0px 0px 45px;
	margin: 1px 0px 8px 3px;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

hr{
	margin: 10px 6px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-color: #DDDDDD;
}
.wslink{
	text-decoration: none;
}
#adword{
	width: 200px;
	height: 251px;
	margin: 20px 0px 0px 11px;
}
.blue{
	display: block;
	height: 32px;
	width: 217px;
	padding: 0px 0px 1px 0px;
	margin: 24px 0px 0px 11px;
	background-image:url("blue.jpg");
	border: none;
	border-radius: 6px;
	color:white;
	font-size: 15px;
	font-weight: bold;
}
.orange{
	display: block;
	height: 31px;
	width: 217px;
	padding: 0px 0px 0px 2px;
	margin: 4px 0px 0px 11px;
	background-image:url("orange.jpg");
	border: none;
	border-radius: 6px;
	color:white;
	font-size: 15px;
	font-weight: bold;
}
#content{
	display: inline-block;
	width: 760px;
	min-height: 579px;
}
span{
	font-weight: bold;
}
.ppc{
	list-style-type: square;
}

#space{
	display:inline-block;
	width:;
	height:;
}
#house{
	display: inline-block;
	padding: 21px 0px 0px 0px;
	height:;
	width:;
	margin: 0px 343px 0px 23px;
	vertical-align: top;
}
h5{
	display:inline-block;
	vertical-align: top;
	color: #0070B7;
	font-weight: 100;
}
#intl{
	display: inline-block;
	vertical-align: top;
	padding-left: 9px;
	width: 149px;
}
#phone{
	margin-top: 13px;
	padding-left: 85px;
}
.wrap{
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
}
h6{
	display: inline-block;
	font-size: 24px;
	padding-top: 3px;
}
.wrap2{
	display: inline-block;
	vertical-align: top;
	width: 148px;
}

*{
	margin:0px;
	padding: 0px;
}

#shot{
	opacity: .5;
	position: absolute;
}
#container{
	/* background-color: lightblue; */
	width: 999px;
	min-height: 730px;
	font-family: Arial,Helvetica,sans-serif;
}

#nav_login{
	/* background-color:lightgrey; */
	width: 999px;
	min-height: 35px;
}
.links{
	color:grey;
	display: inline-block;
	height: 24px;
	font-size: 10px;
	word-spacing: 4px;
	text-align: right;
	padding-right: 43px;
	background-color: #F8F8F8;
	margin-left: 526px;
	clear:right;
	border: 1px solid #DFDFDF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.leftline{
	display: inline-block;
	padding-left: 15px;
}
.line{
	border-left: 1px solid rgb(204, 200, 200);
	padding: 0px 0px 0px 7px;
	display: inline-block;

	margin: 4px 0px 0px 0px;
}
.login{
	display: inline-block;
	background-image:url("logbutton.jpg");
	margin: 0px 0px 0px 21px;
	padding: 0px 0px 3px 0px;
	height: 23px;
	width: 58px;
	border: 2px;
	border-radius: 7px;
	color:white;
	clear:right;
	font-size: 11px;
	vertical-align: top;
}
#banner{
	width: 999px;
	min-height: 68px;
}
#wslogo{
	display:block;
	padding: 7px 0px 0px 9px;
}
#bar{
	width: 999px;
	min-height: 56px;
	background-image:url("barimg.jpg");
}

h1{
	color: white;
	padding: 12px 12px 12px 12px;
	font-size: 24px;
	font-weight:500;
}

#ads{
	display: inline-block;
	width: 235px;
	min-height: 579px;
	vertical-align: top;
}
h2{
	color: #0075B7;
	padding: 65px 0px 11px 11px;
	font-size: 18px;
	font-weight: normal;
}
h3{
	color: #D82E12;
	padding: 2px 0px 0px 11px;
	font-size: 12px;
	font-weight: bold;
}

h4{
	font-size: 15px; 
	font-weight: bold;
	color: #0070B6;
}

span{
	font-weight: bold;
}

ul{

	font-size: 15px;
}

p{
	font-size: 10px;
	font-weight: bold;
}

a{

	color: #3D6698;
}

.small{
	padding: 2px 0px 0px 9px;
	margin: 1px 0px 0px 3px;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}
.small2{
	padding: 5px 0px 0px 45px;
	margin: 1px 0px 8px 3px;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

hr{
	margin: 10px 6px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-color: #DDDDDD;
}
.wslink{
	text-decoration: none;
}
#adword{
	width: 200px;
	height: 251px;
	margin: 20px 0px 0px 11px;
}
.blue{
	display: block;
	height: 32px;
	width: 217px;
	padding: 0px 0px 1px 0px;
	margin: 24px 0px 0px 11px;
	background-image:url("blue.jpg");
	border: none;
	border-radius: 6px;
	color:white;
	font-size: 15px;
	font-weight: bold;
}
.orange{
	display: block;
	height: 31px;
	width: 217px;
	padding: 0px 0px 0px 2px;
	margin: 4px 0px 0px 11px;
	background-image:url("orange.jpg");
	border: none;
	border-radius: 6px;
	color:white;
	font-size: 15px;
	font-weight: bold;
}
#content{
	display: inline-block;
	width: 760px;
	min-height: 579px;
}
span{
	font-weight: bold;
}
.ppc{
	list-style-type: square;
}

#space{
	display:inline-block;
	width:;
	height:;
}
#house{
	display: inline-block;
	padding: 21px 0px 0px 0px;
	height:;
	width:;
	margin: 0px 343px 0px 23px;
	vertical-align: top;
}
h5{
	display:inline-block;
	vertical-align: top;
	color: #0070B7;
	font-weight: 100;
}
#intl{
	display: inline-block;
	vertical-align: top;
	padding-left: 9px;
	height:;
	width: 149px;
	margin:;
}
#phone{
	margin-top: 13px;
	padding-left: 85px;
}
.wrap{
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
}
h6{
	display: inline-block;
	font-size: 24px;
	padding-top: 3px;
}
.wrap2{
	display: inline-block;
	vertical-align: top;
	width: 148px;
}

*{
	margin:0px;
	padding: 0px;
}

#shot{
	opacity: .5;
	position: absolute;
}
#container{
	/* background-color: lightblue; */
	width: 999px;
	min-height: 730px;
	font-family: Arial,Helvetica,sans-serif;
}

#nav_login{
	/* background-color:lightgrey; */
	width: 999px;
	min-height: 35px;
}
.links{
	color:grey;
	display: inline-block;
	height: 24px;
	font-size: 10px;
	word-spacing: 4px;
	text-align: right;
	padding-right: 43px;
	background-color: #F8F8F8;
	margin-left: 526px;
	clear:right;
	border: 1px solid #DFDFDF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.leftline{
	display: inline-block;
	padding-left: 15px;
}
.line{
	border-left: 1px solid rgb(204, 200, 200);
	padding: 0px 0px 0px 7px;
	display: inline-block;

	margin: 4px 0px 0px 0px;
}
.login{
	display: inline-block;
	background-image:url("logbutton.jpg");
	margin: 0px 0px 0px 21px;
	padding: 0px 0px 3px 0px;
	height: 23px;
	width: 58px;
	border: 2px;
	border-radius: 7px;
	color:white;
	clear:right;
	font-size: 11px;
	vertical-align: top;
}
#banner{
	width: 999px;
	min-height: 68px;
}
#wslogo{
	display:block;
	padding: 7px 0px 0px 9px;
}
#bar{
	width: 999px;
	min-height: 56px;
	background-image:url("barimg.jpg");
}

h1{
	color: white;
	padding: 12px 12px 12px 12px;
	font-size: 24px;
	font-weight:500;
}

#ads{
	display: inline-block;
	width: 235px;
	min-height: 579px;
	vertical-align: top;
}
h2{
	color: #0075B7;
	padding: 65px 0px 11px 11px;
	font-size: 18px;
	font-weight: normal;
}
h3{
	color: #D82E12;
	padding: 2px 0px 0px 11px;
	font-size: 12px;
	font-weight: bold;
}

h4{
	font-size: 19px; 
	font-weight: bold;
	color: #0070B6;
	margin: 11px 0px 12px 32px;
}

span{
	font-weight: bold;
}

ul{

	font-size: 15px;
}

.ppc{

	text-indent;32px
}

p{
	font-size: 11px;
	font-weight: bold;
}

a{

	color: #3D6698;
}

.small{
	padding: 2px 0px 0px 9px;
	margin: 1px 0px 0px 3px;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}
.small2{
	padding: 5px 0px 0px 45px;
	margin: 1px 0px 8px 3px;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

hr{
	margin: 10px 6px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-color: #DDDDDD;
}
.wslink{
	text-decoration: none;
}
#adword{
	width: 200px;
	height: 251px;
	margin: 20px 0px 0px 11px;
}
.blue{
	display: block;
	height: 32px;
	width: 217px;
	padding: 0px 0px 1px 0px;
	margin: 24px 0px 0px 11px;
	background-image:url("blue.jpg");
	border: none;
	border-radius: 6px;
	color:white;
	font-size: 15px;
	font-weight: bold;
}
.orange{
	display: block;
	height: 31px;
	width: 217px;
	padding: 0px 0px 0px 2px;
	margin: 4px 0px 0px 11px;
	background-image:url("orange.jpg");
	border: none;
	border-radius: 6px;
	color:white;
	font-size: 15px;
	font-weight: bold;
}
.green{
	display: block;
	height: 36px;
	width: 177px;
	padding: 0px 0px 9px 2px;
	margin: 24px 0px 40px 69px;
	background-image:url("green.jpg");
	border: none;
	border-radius: 6px;
	color:white;
	font-size: 13px;
	font-weight: bold;
}

#content{
	display: inline-block;
	width: 740px;
	min-height: 579px;
}
span{
	font-weight: bold;
}
.ppc{
	list-style-type: square;
	padding: 0px 0px 0px 33px;
	list-style-position: inside;
	line-height: 21px;
	margin: 18px 40px 22px 0px;
	font-size: 12px;
}

#space{
	display:inline-block;
	width:;
	height:;
}
#house{
	display: inline-block;
	padding: 21px 0px 0px 0px;
	height:;
	width:;
	margin: 0px 343px 0px 23px;
	vertical-align: top;
}
h5{
	display:inline-block;
	vertical-align: top;
	color: #0070B7;
	font-weight: 100;
}
#intl{
	display: inline-block;
	vertical-align: top;
	padding-left: 9px;
	width: 149px;
}
#phone{
	margin-top: 13px;
	padding-left: 85px;
}
.wrap{
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
}
h6{
	display: inline-block;
	font-size: 24px;
	padding-top: 3px;
	color: #47C3ED;
}
.wrap2{
	display: inline-block;
	vertical-align: top;
	width: 155px;
}
.section{
	display: inline-block;
	vertical-align: top;
}
.bottom{
	font-size: 14px;
	margin-bottom: 11px;
	color:#0070B6;
}
.drive{
	font-size: 19px; 
	font-weight: bold;
	color: #4F8DB3;
	margin: 11px 0px 12px 32px;
}
.meat{
	font-weight: normal;
}
#midborder{
	display: inline-block;
	width: 588px;
	height: 152px;
	margin: 20px 20px 20px 20px;
	border: 5px solid #84B9D4;
}
#divd{
	display: inline-block;
	vertical-align: top;
	width: 527px;
}
.div{
	margin:;
}
#flag{
	background-color: lightblue;
	height: 79px;
	display: inline-block;
}
.btn {
  margin-left:40%;	
  color:white;
  background-color:#5EAADE;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:hover {
	opacity: .7;
}
#ription {
	color:darkgray;
	margin-left:20%;
	width:99%;
}
#about {
	font-family: arial;
	font-weight: bold;
	font-size: 16px;
}
/*modal*/

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	overflow-y:scroll; 
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 90%;
	height:100%;
	position: relative;
	margin: 1% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

.modalImg {
	/*opacity:.7;*/
}